# Copy this file to .env and fill in your values
# cp .env.example .env

JOURNAL_AUTHOR=your_name@mercedes-benz.com
ADO_ORG=daimler-mic
ADO_PAT=your_personal_access_token
ADO_REPOS=project/repo1,project/repo2
