@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a, button, input, select, textarea {
    @apply transition-colors duration-150;
  }

  details > summary {
    @apply transition-colors duration-150;
  }
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
